@model BeydansWebSite.Models.AboutModel

<!-- ABOUT SECTION -->
<section id="about" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <img src="@Model.AboutPicture" id="aboutUsPicture" class="wow fadeInUp img-responsive" data-wow-delay="0.2s" alt="about image">
                <div class="wow fadeInUp" data-wow-delay="0.4s">
                    <h4>@Html.Raw(Model.AboutHeader)</h4>
                    <p>@Html.Raw(Model.AboutTitle)</p>
                    <a href="#">beydans@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</section>
