
@{
    ViewBag.Title = "Error";
}

<link type="text/css" rel="stylesheet" href="~/Content/css/errorPage.css" />


<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>404</h1>
        </div>
        <h2>Üzgünüz! Gitmek istediğiniz sayfa bulunamadı!</h2>
        <p>Anasayfa'ya gitmek için tıklayınız!</p>
        <a href="/Home/Index">Anasayfa'ya Git</a>
    </div>
</div>

